<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <!--General setup-->
    <add key="ServerURL" value="http://localhost:56364/api/v2/" />
    <add key="JSONMediaType" value="application/json" />
    <add key="XMLMediaType" value="application/xml" />
    <add key="JSONFormatParameter" value="?format=json" />
    <add key="XMLFormatParameter" value="?format=xml" />
    <add key="KeyValueSegment" value="/keyvalue" />
    <add key="StateSegment" value="/states" />
    <add key="CitySegment" value="/cities" />
    <add key="CountrySegment" value="/countries" />
    <add key="PageSizeSegment" value="pageSize=10" />
    <add key="PageNumberSegment" value="pageNumber=1" />
    <add key="ExpectedResultCount" value="10" />

    <!--Continent-->
    <add key="ContinentControllerSegment" value="continents" />
    <add key="ContinentName" value="Asia" />
    <add key="ContinentGeonameId" value="6255147" />
    <add key="ContinentCodeId" value="AS" />

    <!--Country-->
    <add key="CountryController" value="countries" />
    <add key="CountryName" value="India" />
    <add key="CountryGeonameId" value="1269750" />
    <add key="ISOCountryCode" value="IN" />
    <add key="ISO3Code" value="IND" />
    <add key="ISONumeric" value="356" />
    <add key="StateName" value="State of Rajasthan" />
    <add key="StateGeonameId" value="1258899" />
    <add key="CityName" value="Ajmer" />
    <add key="CityGeonameId" value="1279160" />
    <add key="Latitude" value="22" />
    <add key="Longitude" value="79" />

    <!--Language-->
    <add key="LanguageControllerSegment" value="languages" />
    <add key="LanguageName" value="Hindi" />
    <add key="ISO6393Code" value="hin" />

    <!--TimeZone-->
    <add key="TimeZoneControllerSegment" value="timezones" />
    <add key="TimeZoneId" value="Asia/Kolkata" />
    <add key="TimeZonePlaceSegment" value="/place" />
    <add key="TimeZoneListSegment" value="/list" />

    <!--FeatureCategory-->
    <add key="FeatureCategoryControllerSegment" value="featurecategories" />
    <add key="FeatureCategoryId" value="A" />

    <!--FeatureCode-->
    <add key="FeatureCodeControllerSegment" value="featurecodes" />
    <add key="FeatureCode" value="A.ADM1" />

    <!--PostalCode-->
    <add key="RawPostalCodeControllerSegment" value="postalcodes"/>
    <add key="PostalCode" value="110001"/>
  
  </appSettings>

  <connectionStrings>
    <add connectionString="Data Source=Thinkingcog\Denali;Initial Catalog=Geonames;Integrated Security=True" name="Geonames" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
